@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --letra-color: #1e1e1e;
    --borde: #ebeaea;
    --morado: #9A6AFF;
    --morado-letra: #7854c5;
    --morado-oscuro: #291d41;
    --verde: #06d6a0;
}
.aside-contenedor {
    width: 30%;
    height: 89vh;
    font-family: 'Montserrat';
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 2em 2em 2em 3em;
}
  /* Firefox */
.aside-contenedor{
  scrollbar-width: auto;
  scrollbar-color: var(--morado) #996aff10;
}
  /* Chrome, Edge, and Safari */
.aside-contenedor::-webkit-scrollbar {
  width: 16px;
}
.aside-contenedor::-webkit-scrollbar-track {
  background: #996aff10;
}
.aside-contenedor::-webkit-scrollbar-thumb {
  background-color: var(--morado);
  border-radius: 10px;
}
.aside-contenedor span{
    color: var(--letra-color);
    font-weight: 700;
    font-size: 1.5em;
}
.aside-contenedor nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 2em;
    border-left: 2px solid var(--borde);
}
.aside-contenedor nav li{
    list-style: none;
}
.li-nav-margin{
    margin-bottom: 1em;
}