@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --letra-color: #1e1e1e;
  --borde: #ebeaea;
  --morado: #9A6AFF;
  --morado-claro: #a685ff;
  --keys: #4c169c;
  --amarillo-letra: #ffffff;
}
.contenedor-jsons{
  width: 30em;
}
.tittle{
  background-color: #7c30f7;
  color: #FFFFFF;
  padding: 1em;
  border-radius: 8px 8px 0px 0px;
}
.json-viewer {
  background-color: var(--morado-claro);
  color: var(--keys);
  padding: 10px;
  border-radius:  0px 0px 8px 8px;
  font-family: "Kanit";
  text-align: left;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
}

.json-viewer .key {
  color: var(--keys);
}

.json-viewer .string {
  color: var(--amarillo-letra);
}

.json-viewer .number {
  color: var(--amarillo-letra);
}

.json-viewer .boolean {
  color: var(--amarillo-letra);
}
  
.json-viewer .null {
  color: var(--amarillo-letra);
}
  